body {
  background: -webkit-repeating-radial-gradient(
    #5f2384,
    #3a0956,
    #310849,
    #1c0526,
    #32004f
  );
}
h2,
h3 {
  font-family: mystery quest;
}
h3 {
  font-size: 20px;
  margin: 0 auto;
  padding-bottom: 10px;
}
h4 {
  font-size: 9px;
  font-weight: normal;
  display: block;
  margin: 0px auto;
}
h6,
h4 {
  font-family: major mono display;
}
h3,
h6 {
  text-align: center;
}
footer {
  font-size: 9px;
  margin: 0 5px 5px auto;
  text-align: right;
  color: #fff;
}
a {
  color: #ebaa68;
}
a:hover {
  color: #881ee4;
}
q {
  font-family: lora;
}
.container {
  margin: 20px auto;
  display: block;
  max-width: 500px;
  border-radius: 5px;
}
.wrapper {
  border: #ebaa68 2px dashed;
  border-radius: 5px;
  background: #000000;
}
.weather-app {
  color: #fff;
  background: #000000;
  padding: 25px;
}
.weatherConditions {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}
.units {
  font-family: mystery quest;
  font-size: 14px;
  position: relative;
  letter-spacing: 3px;
  top: -15px;
}

.location-button,
.search-control {
  background: #fff;
  color: #ebaa68;
  border: #ebaa68 2px solid;
  margin: -15px 0 8px auto;
  padding: 5px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  max-width: 200px;
}
.search-control {
  margin-left: 30px;
}
.location-button {
  margin-left: -30px;
}
.location-button:hover,
.search-control:hover {
  background: #ebaa68;
  color: #fff;
  border: #fff 2px solid;
  transition: 200ms ease-in-out;
}
.ghost-img {
  display: block;
  margin: -84px 295px;
}
.weather-forecast {
  display: block;
  margin: 15px 0 auto;
  padding: 8px;
  text-align: center;
  border-radius: 3px;
  background-color: #843200;
  color: #fff;
}
.forecast-day,
.forecast-temperatures {
  font-family: major mono display;
}
.forecast-day {
  font-size: 13px;
}
.forecast-temp-high {
  font-size: 11.5px;
}
.forecast-temp-low {
  font-size: 11px;
  opacity: 0.8;
}
.forecast-img {
  background-color: #a18270;
  border-radius: 12px;
}
#fahrenheit,
#celsius {
  text-decoration: none;
  cursor: default;
}

#weather-icon {
  display: block;
  margin: -50px 300px 50px;
  width: 60px;
  height: 60px;
}
#currentTemperature {
  font-family: major mono display;
  font-size: 35px;
  display: inline;
  color: #ebaa68;
  line-height: 1;
  margin: 0 auto;
}
#searchbar-form {
  padding: 8px;
  margin: 0 auto;
  color: #d3d3d3;
  background: #3f3c56;
  width: 300px;
  border: none;
  border-radius: 3px;
  outline: 0;
  font-family: monospace;
}
#searchbar-form::placeholder {
  color: #8c807a;
  font-family: monospace;
}
#open-source-link {
  cursor: pointer;
}
